{% extends "network/layout.html" %} {% block body %}
<h1>{{ following }}</h1>
<div class="w-25 py-3">
    <div class="row">
    {% if user.is_authenticated %}
    {% if request.user != following %}
	{% if not request.user.username in followers %}
	<form class="col" action="{% url 'follow' following.id %}" method="post">
		{% csrf_token %}
		<input type="submit" class="btn btn-dark" value="Follow" />
	</form>
	{% else %}
	<form class="col" action="{% url 'unfollow' following.id %}" method="post">
		{% csrf_token %}
		<input
			type="submit"
			class="btn btn-outline-dark"
			value="Unfollow"
		/>
	</form>
	{% endif %} {% endif %} {% endif %}
    
	<p class="col"><b>Following: </b>{{ following_count }}</p>
	<p class="col"><b>Followers: </b>{{ followers_count }}</p>
    </div>
</div>

<div class="vstack gap-3">
	{% if page_obj %} {% for post in page_obj %}
	<div class="card">
		<div class="card-header">
			<span id="username" href="{% url 'profile' post.user.id %}"
				><strong>{{ post.user }}</strong></span>
		</div>
		<div class="card-body">
			<p class="card-title">{{ post.text }}</p>
            <hr>
            {% if user == post.user %}
			<button
				class="btn btn-secondary"
                type="button"
				data-toggle="modal"
				data-target="#modal_edit_post_{{ post.id }}"
			>
				Edit
			</button>
			<div class="modal fade" id="modal_edit_post_{{ post.id }}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="modal_edit_post_{{ post.id }}_label">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Edit Post</h5>
							<button
								type="button"
								class="close"
								data-dismiss="modal"
								aria-label="Close"
							>
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<textarea class="form-control" name="content" id="textarea_{{ post.id }}" rows="5">{{ post.text }}</textarea>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn btn-secondary"
								data-dismiss="modal"
							>
								Close
							</button>
							<button type="button" class="btn btn-primary" onclick="submitHandler({{ post.id }})">
								Save changes
							</button>
						</div>
					</div>
				</div>
			</div>
        {% else %}
        {% if user.is_authenticated %}
            <div class="card-text">
                {% if post.id in whoYouLiked %} 			
                <button id="like_btn_{{ post.id }}" class="red like fa fa-heart" onclick="likeHandler({{ post.id }}, {{ whoYouLiked }})"></button>
                {% else %}
                <button id="like_btn_{{ post.id }}" class="text-muted like fa fa-heart" onclick="likeHandler({{ post.id }}, {{ whoYouLiked }})"></button>
                {% endif %}  
            </div>
        {% endif %}
        {% endif %}
            </div>
		<div class="card-footer text-muted">{{ post.date }}</div>
    </div>
	{% empty %}
	<h1>No posts for this user yet</h1>
	{% endfor %} {% endif %}


<nav>
	<ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		</li>
        {% else %}
        <li class="page-item disabled">
			<a class="page-link" aria-label="disabled" href="#">Previous</a>
		</li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <span class="page-link" href="#">{{ page_obj.number }}</span>
        </li>
        {% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
		</li>
        {% else %}
        <li class="page-item disabled">
			<a class="page-link" aria-label="disabled" href="#">Next</a>
		</li>
        {% endif %}
	</ul>
</nav>

{% endblock %}
